#header { margin:0; width:100%; height:50px; float:left; background:url(images/ui-bg_gloss-wave_60_fece2f_500x100.png) center; }
#header a#logo { float:left; font-weight:bold; text-transform:uppercase; color:#000; text-decoration:none; font-size:30px; font-family:"Courier New", Courier, monospace; margin:10px 40px 0 20px; }

ul#nav { float:left; list-style:none; }
ul#nav li a { text-transform:uppercase; margin:0 5px 0 5px; padding:10px; color:#000; font-family:"Courier New", Courier, monospace; text-decoration:none; font-size:18px; }
